.list {
  padding: 20rpx 0;
  &__item {
    margin-bottom: 20rpx;
    font-size: 28rpx;
    &__date {
      display: inline-block;
      margin: 0 20rpx;
      width: 180rpx;
      color: #555;
    }
    &__day {
      display: inline-block;
      margin-right: 40rpx;
      width: 40rpx;
      text-align: center;
      border: 1px solid #555;
      &_weekend {
        color: rgb(196, 56, 56);
        border: 1px solid rgb(196, 56, 56);
        // background: rgb(196, 56, 56);
      }
    }
  }
}