.list {
  padding: 20rpx 0;
  &__item {
    margin-bottom: 20rpx;
    font-size: 28rpx;
    &__date {
      display: inline-block;
      margin: 0 20rpx;
      color: #555;
    }
    &__day {
      display: inline-block;
      margin-right: 40rpx;
      width: 40rpx;
      text-align: center;
      background: #eee;
      &_weekend {
        color: #fff;
        background: red;
      }
    }
  }
}